body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.banner {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(229, 84, 115, 0.10);
    padding: 0 150px;
}

.banner-content {
  padding:80px;
}

.banner-title {
    color: #272727;
    font-size: 50px;
    font-weight: 800;
}

.banner-description {
    color: #272727;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    border: none;
    font-weight: 700;
    padding: 20px 40px;
}

.profile-pic {
    width: 400px;
}